

@font-face
{
    font-family: Rondalo;
    src: url(../fonts2/RONDALO.ttf);
}

*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container
{
    width: 90%;
    height: auto;
    max-width: 1000px;
    margin: 5px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header rectangulo"
                          "menu menu"
                          "submenu submenu"
                          "main slider"
                          "footer footer";
}

body
{
    font-family: Rondalo;
}

h1,h2
{
    text-align: center;
    font-size: 35px;
}

header
{
    grid-area: header;
}

.rectangulo-azul
{
    grid-area: rectangulo;
    background: rgb(7, 9, 52);
    width: 100%;
    height: 55%;
    margin-top: 30px;
}


.menu
{
    grid-area: menu;
    background: rgb(7, 9, 52);
}

    .menu a
    {
        color: #fff;
        padding: 26px 20px;
        display: inline-block;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .menu a:hover
    {
        border-bottom: 4px solid #ff9f1c;
    }

.submenu
{
    grid-area: submenu;
    background: rgba(7, 9, 52, .5);
    margin-top: -20px;
}    
    .submenu a
    {
        color: #fff;
        padding: 26px 20px;
        display: inline-block;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .submenu a:hover
    {
        text-decoration: underline;
    }
main
{
    grid-area: main;
}

    p
    {
        font-size: 20px;
        text-align: justify;
        line-height: 30px;
    }

    ol
    {
        margin: 30px 25px;
        font-size: 25px;
    }

    ol a
    {
        text-decoration: none;
        color: black;
        line-height: 30px;
    }

    ol a:hover
    {
        text-decoration: underline;
    }

.slider
{
    grid-area: slider;
}
    .slider img
    {
        width: 100%;
    }

footer
{
    grid-area: footer;
    background: rgb(174, 175, 168);
    font-size: 18px;
    padding: 26px 20px;
    text-align: center;
}

/* ----------------------Responsive ------------------*/
/* Extra large device(large desktops, 1200px and up) */
@media (max-width: 1200px)
{
    
}

/* large device(desktops, 992px and up) */
@media (max-width: 1048px)
{

}

/* Medium device(tablets, 768px and up) */
@media (max-width: 900px)
{
    .submenu a
    {

        font-size: 14px;
        padding: 26px 5px;
    }
}

/* small device(landscape, phones, 576px and up) */
@media (max-width: 800px)
{
    .submenu a
    {

        font-size: 12px;
    }
}

/* small device(landscape, phones, 576px and up) */
@media (max-width: 674px)
{
    .menu a
    {
        font-size: 16px;
    }
    .submenu a
    {

        font-size: 11px;
    }
}

@media (max-width: 626px)
{
    .menu a
    {
        font-size: 12px;
    }
}

@media (max-width: 529px)
{
    .container
    {
        grid-template-areas: "header rectangulo"
                          "menu menu"
                          "submenu submenu"
                          "main main"
                          "slider slider"
                          "footer footer";
    }
    .menu a
    {
        font-size: 10px;
    }

    .rectangulo-azul
    {
        display: none;
    }

        h1,h2
    {
        text-align: center;
        font-size: 18px;
    }

    footer 
    {
        font-size: 12px;
    }
}

